// sass --watch style.scss ./asset/css/style.css

* {
    margin: 0;
}

nav {
    background-color: #2eada4;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    box-sizing: border-box;



    .title {
        display: flex;

        .logo {
            width: 70px;
        }

        h1 {
            font-family: diazo-mvb-cond, sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 50px;
            color: white;
            margin: auto 20px;
            white-space: nowrap;

        }

    }

    .burger {
        margin: auto 0;
    }
}

.none {
    display: none !important;
}

.mob-only {
    display: none;
}

.cookie-pop {
    position: fixed;
    bottom: 0;
    background-color: #16867e;
    max-width: 100vw;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media(min-width:2000px){
        justify-content: space-evenly;
    }

    @media(max-width:1400px){
        display: block;
    }
    p, a, button {
        font-family: quasimoda, sans-serif;
        font-size: clamp(25px, 1.2vw, 16px);
    }

    p {
        color: #F2F2F2;
        padding: 20px 20px 10px;
    }
    
    a {
        color: rgb(132, 36, 132);
    }

    button {
        padding: 5px 10px;
        margin: 0 5px;
        border-radius: 5px;
        font-weight: 600;
    }

    &-settings {
        border: 3px solid #0a4dde;
        background-color: #F2F2F2;
        color: #083cab;
    }

    &-accept {
        border: none;
        background-color: #0a4dde;
        color: #F2F2F2;
    }

    &-buttons {
        display: block;
        margin: 10px 20px;
    }

}

.cookie-settings {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(30, 30, 30, 0.233);
    &-box {
        background: white;
        max-width: 800px;
        height: fit-content;
        width: 80%;
        padding: 20px;
        border: 4px solid #7191d8;
        border-radius: 25px;
        margin: auto;
    }
    h3, h4, p, button {
        font-family: omnes-pro, sans-serif;
    }

    h3 {
        font-size: 2.5em;
    }
    h4 {
        font-size: 2em;
        font-weight: 500;
    }

    p {
        font-size: 1.5em;
    }
    &-opt {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }

    .checkbox {
        width: 20px;
        margin: 20px;
    }

    &-buttons {
        width: fit-content;
        margin-left: auto;
    }

    button {
        margin: 10px;
        padding: 10px;
        font-size: 1.5em;
        font-weight: 700;
        border-radius: 10px;
    }

    .settings-save {
        border: 4px solid #083cab;
        color: #01339f;
        background-color: rgb(244, 244, 244);
    }

    .settings-acceptAll {
        border: none;
        color: rgb(244, 244, 244);
        background-color: #083cab;
    }
}

main {

    background-color: #F2F2F2;
    padding: 20px 0;

    .bs {
        box-shadow: 0px 5px 10px rgb(159, 159, 159);
        background-color: white;
        margin: 30px auto;
        width: clamp(750px, 30%, 300px);
        padding: 20px;

        &-title {
            font-family: omnes-pro, sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 3.5em;
            color: #19A3DE;
        }
    
        &-text {
            font-family: quasimoda, sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 1.6em;
            color: #424242;
        }

        &-button-pri {
            cursor: pointer;
            border: none;
            border-radius: 10px;
            padding: 10px 10px 7px;
            font-family: navigo, sans-serif;
            font-size: 2em;
            font-weight: 700;
            color: #ffffff;
            text-decoration: none;
        }
    }

}

footer {
    background-color: #16867e;
    // height: 80px;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;

    a, p {
        font-family: quasimoda, sans-serif;
        text-decoration: none;
        color: rgb(246, 246, 246);
        display: block;
        width: max-content;
        margin: 10px 0;
        cursor: pointer;
    }

    .socials {
        display: flex;
        a {
            max-height: 40px;
            width: 40px;
            margin: 10px;
        }
    }    
}

@media (max-width: 1000px) {


    nav {
        .title {

            .logo {
                width: 50px;
            }

            h1 {
                font-size: 2.5em;
                margin: auto 10px;
                min-height: 25px;
            }
        }
    }

    .desk-cont {
        display: none !important;
    }

    .mob-only {
        display: block;
    }

    main {
        max-width: 100vw;
        margin: 0;
        padding: 5px 0;


        .bs {
            width: 85%;
            padding: 10px 20px 5px;
            box-shadow: none;
            border-radius: 20px;

            

            // &-button-pri {
            //     cursor: pointer;
            //     border: none;
            //     border-radius: 10px;
            //     padding: 6px 10px 0px;
            //     margin: 15px auto;
            //     font-family: navigo, sans-serif;
            //     font-size: 2em;
            //     font-weight: 700;
            // }
        }

    .cookie-pop {
        &-buttons {
            margin: 0 20px 10px;
        }
    }

    .cookie-settings {
        h3 {
            font-size: 2em;
        }

        h4 {
            font-size: 1.5em;
        }
        p {
            font-size: 1em;
        }
    }
}

@media (max-width: 780px) {
    body, main, nav {
        min-width: 360px;
    }

    nav {
        padding: 12px 10px;
        .title {
        h1 {
            font-size: 1.5em;
        }
    }
    }

    .cookie-pop {
        &-buttons {
        display: flex;
        }

        a, p {
            font-size: 18px;
        }

        button {
            font-size: 20px;
        }
    }
    
    main {
        .bs {
            margin: 10px auto;

            &-text {
                font-size: 1.2em;
                padding: 0;
            }
        }
    }

}

    footer {
        background-color: #16867e;
        padding: 20px;


    }
}

@media (max-width: 480px) {


    nav {
        .title {
            .logo {
                width: 40px;
            }
            h1 {
                font-size: 25px;
            }
        }

        .burger {
            height: fit-content;
            img {
                height: 23px;
                margin-right: 10px;
            }
        }
    }

    



    main {
        .bs {
            &-title {
                font-size: 30px;
            }
            &-button-pri {
                font-size: 24px;
                padding: 10px 13px 5px;
            }
        }

        
    }

}